@font-face {
    font-family:"Brandon Grotesque Regular";
    src:url("./images/brandon/Brandon_reg.otf") format("woff");
}
@font-face {
    font-family:"Brandon Grotesque Medium";
    src:url("./images/brandon/Brandon_med.otf") format("woff");
}
@font-face {
    font-family:"Brandon Grotesque Bold";
    src:url("./images/brandon/Brandon_bld.otf") format("woff");
}
        
html,
body {
    margin: 0;
    padding: 0;
    font-family:sans-serif;
    box-sizing: border-box;
    font-family: 'Brandon Grotesque Regular', sans-serif;
    scroll-behavior: smooth;

}
h1,h2,h3,h4,h5,h6{
    font-family: 'Brandon Grotesque Bold', sans-serif;
}
h1,h2,h3,h4,h5,h6,p{
    margin-top:0;
}

p{
    font-size:2em;
    line-height:1.3em;
}

h1 {
    font-size: 5em;
}

h2 {
    font-size: 4.3em;
}

h3 {
    font-size: 3.4em;
}

h4 {
    font-size: 2em;
}

h5 {
    font-size: 1,6em;
}

h6 {
    font-size: 1.5em;
    font-weight: 400;
}

.fw-normal{
    font-weight:400;
}
.fw-medium{
    font-weight:500;
}
.fw-bold{
    font-weight:700;
}

img,video{
    max-width: 100%;
}
.icon-img{
    max-width:70px;
}

.text-center{
    text-align: center;
}

.text-white{
    color:#ffffff;
}
.text-green{
    color:#008d49;
}
.text-purple, .text-purple a{
    color:#b33e98;
}
.part-3{
    position: relative;
}

span.text-green{
    font-family:'Brandon Grotesque Bold',sans-serif;
}
.green-line{
    height:40px;
    width:100%;
    background-color:#008d49;
}
.bg-wrapper{
    position: fixed;
    width:100vw;
    height:100vh;
    background-color:white;
    z-index: 9999999999999;
    top:0;
    left:0;
    overflow-y:hidden;
}
.form-wrapper{
    height:100vh;
}
.bg-white{
    background-color:#ffffff;
}
.bg-green{
    background-color:#a6b74b;
}
.bg-purple-gradient{
    background: rgb(179,62,152);
    background: linear-gradient(180deg, rgba(179,62,152,1) 0%, rgba(255,255,255,1) 100%);
}
.bg-flower {
    background-image: url('./images/Part1-Bg.png');
    background-position: left bottom;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
.absolute-flower-2{
    position: absolute;
    width:200px;
    right:0;
    top:-10px;
    z-index: 1;
}
.z-index-2{
    position: relative;
    z-index:1000;
}
.swt-logo-overflow{
    position: relative;
    margin-top: -50px;
    text-align:center;
}

.pos-relative{
    position: relative;
}

.mw100{
    max-width: 100%;
}
.mw-1440{
    max-width:1440px;
    margin:0 auto;
}
.mw-600{
    max-width:600px;
    margin:0 auto;
}
.block{
    display: block;
}

.lh25{
    line-height:25%;
}
.lh50{
    line-height:50%;
}
.lh75{
    line-height:75%;
}
.lh100{
    line-height:100%;
}
.lh125{
    line-height:125%
}
.lh150{
    line-height:150%;
}
.lh175{
    line-height:175%;
}
.lh200{
    line-height:200%;
}

.cta-button{
    background-color:#b23d97;
    padding:15px 20px;
    width:100%;
    max-width:400px;
    font-size: calc(15px + (30 - 15) * ((100vw - 300px) / (2560 - 300)));
    color:#ffffff;
    border:none;
    border-radius:5px;
    text-transform: uppercase;
    text-decoration:none;
    display: inline-block;
    text-align: center;
}

.circle-1, .circle-3 {
    float: right;
    width: 150px;
    shape-outside: circle(29.1% at 91px 215px);
    margin-top: 140px;
    margin-right: 40px;
    margin-left: 1rem;
    margin-bottom: 1rem;
}

.circle-2 , .circle-4{
    float: left;
    width: 150px;
    shape-outside: circle(30.37% at 113px 225px);
    margin-top: 150px;
    margin-left: 40px;
    margin-right: 1rem;
    margin-bottom: 1em;
}

.pictures{
    position: relative;
    margin-top: -50px;
}

.overflow-auto{
    overflow:auto;
}

.buttons-wrapper{
    justify-content:space-evenly;
}

.footer-bg{
    background-image: url('./images/footer-bg.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.footer-links ul{
   padding:0;
}

.footer-links ul li{
    display: inline-block;
}

.footer-links ul li:not(:last-child){
    border-right:1px solid black;
}

.footer-links ul li {
    text-align: center;
    padding-right:10px;
    padding-left:10px;
}
.footer-links ul li a{
    text-decoration: none;
    color:#000000;
}
.part-3-link {
    position: absolute;
    bottom: .5%;
    left: 42%;
    font-size: 2.7vw;
    color: #B23C97;
    padding-right:10px;
}


@media only screen and (max-width: 600px) {
    h2{
        font-size:2em !important;
        font-weight:bold !important;
        line-height:100% !important;
    }
    h3{
        font-size:1.3rem;
        font-weight:400;
    }
    h4 {
        font-size: 1em;
    }
    h6{
        font-size:0.7em;
    }
    p{
        font-size:.9rem
    }
    .bg-flower{
        background-image:url('./images/Part1-Bg_mobile.png');
        background-size: 100%;
        background-position: bottom center;
    }
    .bg-flower-2{
        background-size: contain;
    }
    .absolute-flower-2{
        width:200px;
    }
    .pictures{
        position: relative;
        margin-top: -100px;
    }
    .cta-button{
        display: block;
        margin: 0 auto;
        padding:10px 20px;
    }
    .text-center-mobile{
        text-align: center;
    }
    .circle-1 {
        float: right;
        width: 100px;
        shape-outside: circle(22.76% at 66px 230px);
        margin-top: 180px;
        margin-right: 20px;
        margin-left: 1rem;
        margin-bottom: 1rem;
    }
    .circle-2 {
        float: left;
        width: 100px;
        shape-outside: circle(20.4% at 70px 272px);
        margin-top: 223px;
        margin-left: 20px;
        margin-right: 1rem;
        margin-bottom: 1em;
    }
    .circle-3 {
        float: right;
        width: 100px;
        shape-outside: circle(21.76% at 66px 298px);
        margin-top: 250px;
        margin-right: 20px;
        margin-left: 1rem;
        margin-bottom: 1rem;
      }
    .circle-4 {
        float: left;
        width: 100px;
        shape-outside: circle(22.4% at 70px 250px);
        margin-top: 200px;
        margin-left: 20px;
        margin-right: 1rem;
        margin-bottom: 1em;
    }
    .overflow-auto{
        display:block;
        width:100%;
        padding-top:10px;
    }
    .footer-bg {
        background-image: url('./images/footer-bg-mobile.png');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: bottom;
    }
    .mobile-button-adjust{
        margin-top:-40px;
    }
    .footer-links ul li:not(:last-child){
        border-right:none;
    }

}


/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {

    .bg-flower{
        background-image: url('./images/Part1-Bg_mobile.png');
        background-size:cover;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {

    .part-3-link {
        position: absolute;
        bottom: 3%;
        left: 30%;
        font-size: 2.5vw;
        max-width: 700px;
        color: #B23C97;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .bg-flower{
        background-image: url('./images/Part1-Bg.png');
        background-size:cover;
    }
    .part-3-link {
        position: absolute;
        bottom: 3%;
        left: 30%;
        font-size: 1.5rem;
        max-width: 700px;
        color: #B23C97;
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {

}